<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/product.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <title>Title</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space12">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header">
                    资金变动记录
                    <span class="layui-badge layui-bg-gray product-add"><i class="layui-icon">&#xe654;</i></span>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space12">
                        <div class="layui-col-md8">
                            <div id="pie"></div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="product-confirm-sum-div">
                                <ul class="product-confirm-sum-ul"></ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">
                    资金变动记录
                    <span class="layui-badge layui-bg-gray add-product-change-record"><i class="layui-icon">&#xe654;</i></span>
                </div>
                <div class="layui-card-body">
                    <table id="product-change-record-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-fluid add-product-change-record-popup" style="display: none">
    <form class="layui-form" action="">
        <div class="layui-form-item" >
            <label class="layui-form-label">产品</label>
            <div class="layui-input-block" style="width: 200px">
                <select lay-verify="required" class="product-select" name="product">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="radio" name="operation" value="0" title="买入" checked>
                <input type="radio" name="operation" value="1" title="卖出">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">金额</label>
            <div class="layui-input-block" style="width: 200px">
                <input type="text" name="confirm" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-block" style="width: 200px">
                <input type="text" class="layui-input create-date" name="createdate" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add-product-change-record-submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(["form","table","element","laydate"], function() {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;

        paintPie();
        loadSelect();
        loadProductConfirmSumUl();

        function loadProductConfirmSumUl() {
            var html = "";
            $.ajax({
                url: "/product-confirm-sum",
                async: false,
                success: function(result) {
                    if (result != null) {
                        for (var i = 0; i < result.length; i ++) {
                            html = html + "<li>" + result[i].productName + "<a style='float: right'>" + result[i].sumConfirm + "</a></li>";
                        }
                    }
                }
            });
            $(".product-confirm-sum-ul").html(html);
        }

        $(".add-product-change-record").on("click", function() {
            layer.open({
                type: 1,
                title: "添加资产变动记录",
                area: ['450px', '350px'],
                content: $(".add-product-change-record-popup"),
            });
        });

        laydate.render({
            elem: '.create-date' //指定元素
        });

        table.render({
            elem: "#product-confirm-sum-table",
            id: "product-confirm-sum-table",
            url: "/product-confirm-sum",
            skin: "line",
            cols: [
                [
                    {
                        field: "productName",
                        title: "名称",
                        width: "70%"
                    }, {
                        field: "sumConfirm",
                        title: "金额",
                    }
                ]
            ]
        });

        table.render({
            elem: "#product-change-record-table",
            id: "product-change-record-table",
            url: "/product-change-record",
            page: true,
            limit: 10,
            cols: [
                [
                    {
                        field: "id",
                        hide:true
                    }, {
                        field: "productName",
                        title: "名称",
                        width: "40%"
                    }, {
                        field: "operation",
                        title: "操作",
                        width: "15%",
                        templet: function(d) {
                            if (d.confirm < 0) {
                                return "卖出";
                            } else {
                                return "买入";
                            }
                        }
                    }, {
                        field: "confirm",
                        title: "金额",
                        width: "15%",
                        templet: function(d) {
                            if (d.confirm < 0) {
                                return -(d.confirm);
                            } else {
                                return d.confirm;
                            }
                        }
                    }, {
                        field: "createTime",
                        title: "交易时间",
                        templet: "<a>{{ layui.util.toDateString(d.createDate, 'yyyy年MM月dd日') }}</a>",
                    }
                ]
            ]
        });

        form.on('submit(add-product-change-record-submit)', function(data){
            var confirm = data.field.confirm;
            if (data.field.operation == 1) {
                confirm = -confirm;
            }
            var _data = {
                productId : data.field.product,
                confirm : confirm,
                createDate : data.field.createdate
            };

            $.ajax({
                url:"/add-product-change-record",
                type: "POST",
                data: JSON.stringify(_data),
                contentType: "application/json;charset:UTF-8",
                success:function(result) {
                    if (result) {
                        layer.msg("添加成功");
                        layer.closeAll();
                        table.reload("product-change-record-table");
                        loadProductConfirmSumUl();
                    }
                }
            });
            return false;
        });

        function paintPie() {
            var categories = [];
            var parentData = [];
            var childData = [];
            var total = 0;
            $.ajax({
                url: "/getPieData",
                async: false,
                success: function(result) {
                    if (result != null) {
                        for (var i = 0; i < result.parents.length; i ++) {
                            categories.push(result.parents[i].name);
                            parentData.push({
                                value: result.parents[i].categoriesConfirm,
                                name: result.parents[i].name
                            });
                            total = total + result.parents[i].categoriesConfirm;
                        }
                        for (var j = 0; j < result.children.length; j ++) {
                            categories.push(result.children[j].name);
                            childData.push({
                                value: result.children[j].categoriesConfirm,
                                name: result.children[j].name
                            });
                        }

                        console.log(parentData);
                        console.log(childData);
                    }
                }
            });
            var myChart = echarts.init(document.getElementById("pie"));
            var option = {
                title : {
                    text: '总额：' + total,
                    x:'left'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{b}：{c} <br/> {a}：{d}%"
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: categories
                },
                series : [
                    {
                        name: '占比',
                        type: 'pie',
                        radius: [0, '50%'],
                        label: {
                            position: 'inner'
                        },
                        labelLine: {
                            show: false
                        },
                        data: parentData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    },
                    {
                        name: '占比',
                        type: 'pie',
                        radius: ['55%', '75%'],
                        data: childData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }

        function loadSelect() {
            var html = $(".product-select").html();
            $.ajax({
                url: "/get-product-list",
                success: function(result) {
                    for (var i = 0; i < result.length; i ++) {
                        html = html + "<option value='" + result[i].id + "'>" + result[i].name + "</option>";
                    }
                    $(".product-select").html(html);
                    form.render("select");
                }
            });
        }
    });
</script>
</body>
</html>