<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/profit.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <title>Title</title>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space12">
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <div class="layui-form-item current-month-profit">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <form class="layui-form" action="">
                                <div class="layui-form-item" style="line-height:50px;text-align: center;">
                                    <div class="layui-inline">
                                        <input type="text" class="layui-input layui-input-inline" id="start-date" autocomplete="off">
                                        <div class="layui-form-mid">-</div>
                                        <input type="text" class="layui-input layui-input-inline" id="end-date" autocomplete="off">
                                    </div>
                                    <div class="layui-inline">
                                        <select class="category"  lay-filter="categories">

                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <div class="layui-row">
                                    <div id="curve" style="height:400px"></div>
                                </div>
                                <div class="layui-row">
                                    <div id="bar" style="height:325px;"></div>
                                </div>
                            </div>
                            <div class="layui-col-md4">

                            </div>
                        </div>

                        <!--<div class="layui-row">
                            <div id="curve" style="height:400px"></div>
                        </div>
                        <div class="layui-row layui-col-space12">
                            <div class="layui-col-md4">

                                <div class="layui-row">
                                    <button class="layui-btn add-today-profit">新增当日收益</button>
                                </div>
                            </div>
                            <div class="layui-col-md8">
                                <div id="bar" style="height:325px;"></div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">

            </div>
        </div>
    </div>
    <script>
        layui.use(["form","table","laydate"], function(){
            var $ = layui.jquery;
            var form = layui.form;
            var table = layui.table;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#start-date',
                done: function() {
                    // 加载收益曲线
                    paintCurve();
                    // 加载月柱状图
                    paintBar();
                }
            });
            laydate.render({
                elem: '#end-date',
                done: function() {
                    // 加载收益曲线
                    paintCurve();
                    // 加载月柱状图
                    paintBar();
                }
            });
            laydate.render({
                elem: '.create-date',
                value: new Date()
            });

            form.on('select(categories)', function(data) {
                // 加载收益曲线
                paintCurve();
                // 加载月柱状图
                paintBar();
            });

            // 加载当月收益和下拉菜单
            loadCurrentMonthProfit();
            // 加载收益曲线
            paintCurve();
            // 加载月柱状图
            paintBar();


            function loadCurrentMonthProfit() {
                $(".current-month-profit").html("<div class='layui-inline'><label class='layui-form-label'><b>当月收益</b></label></div>");
                $(".category").html("<option value='0'>全部</option>");
                $.ajax({
                    url: "/get-current-month-profit",
                    success: function(result) {
                        for (var i = 0; i < result.length; i ++) {
                        var html;
                            if (result[i].value < 0) {
                                html = "<div class='layui-inline'>" +
                                            "<label class='layui-form-label'>" + result[i].name + "：</label>" +
                                            "<span class='layui-badge-rim p-value' style='color:green'>" + result[i].value.toFixed(2) + "</span>" +
                                       "</div>";
                            } else {
                                html = "<div class='layui-inline'>" +
                                            "<label class='layui-form-label'>" + result[i].name + "：</label>" +
                                            "<span class='layui-badge-rim p-value' style='color:red'>" + result[i].value.toFixed(2) + "</span>" +
                                       "</div>";
                            }

                            $(".current-month-profit").append(html);
                            // 加载下拉菜单
                            var option = "<option value='" + result[i].id + "'>" + result[i].name + "</option>";
                            $(".category").append(option);
                            form.render();
                        }
                    }
                });
            }

            function paintBar() {
                var xData = [];
                var yData = [];
                $.ajax({
                    url: "/get-month-profit?startDate=" + $("#start-date").val() + "&endDate=" + $("#end-date").val() + "&category=" + $(".category").val(),
                    async: false,
                    success: function(result) {
                        for (var i = 0; i < result.length; i ++) {
                            xData.push(result[i].date);
                            yData.push(result[i].value.toFixed(2));
                        }
                    }
                });
                var myChart = echarts.init(document.getElementById("bar"));
                var option = {
                    color: ['#3398DB'],
                    title: {
                        text: "每月收益"
                    },
                    tooltip: {
                        trigger: "axis"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {show: true, type: ['line', 'bar']},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xData
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '收益',
                            type: 'bar',
                            data: yData,
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                }
                myChart.setOption(option);
            }

            function paintCurve() {
                var data = [];
                var total;
                $.ajax({
                    url: "/get-curve-data?startDate=" + $("#start-date").val() + "&endDate=" + $("#end-date").val() + "&category=" + $(".category").val(),
                    async: false,
                    success: function(result) {
                        var length = result.length;
                        for (var i = 0; i < length; i ++) {
                            data.push({
                                name: result[i].createDate,
                                value: [result[i].createDate, result[i].sum.toFixed(2)]
                            });
                        }
                        total = result[length - 1].sum;
                    }
                });

                // 渲染曲线
                var myChart = echarts.init(document.getElementById("curve"));
                var option = {
                    title: {
                        text: "累计收益：" + total.toFixed(2)
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            var date = new Date(params.name);
                            return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ':' + params.value[1];
                        },
                        axisPointer: {
                            animation: false
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {show: true, type: ['line', 'bar']},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%'],
                        splitLine: {
                            show: true
                        }
                    },
                    series: [{
                        name: '累计收益2',
                        type: 'line',
                        color: '#1E90FF',
                        showSymbol: false,
                        hoverAnimation: false,
                        data: data,
                    }]
                };
                myChart.setOption(option);
            }

            $(".add-today-profit").on("click", function() {
                layer.open({
                  type: 1,
                  area: '500px',
                  content: $('#add-today-profit-div'),
                  btn: '确定',
                  yes: function(index, layero){
                    $.ajax({
                        url: "/add-profit",
                        type: "POST",
                        data: JSON.stringify({
                            categoryId: $(".today-category").val(),
                            profit: $(".profit").val(),
                            createDate: $(".create-date").val()
                        }),
                        contentType: "application/json",
                        success: function(result) {
                            layer.msg("添加成功");
                            // 加载收益曲线
                            paintCurve();
                            // 加载月柱状图
                            paintBar();
                            // 加载当月收益和下拉菜单
                            loadCurrentMonthProfit();
                        }
                    });
                    layer.close(index);
                  }
                });
            });
        });
    </script>
</body>
<div class="layui-fluid" id="add-today-profit-div" style="display:none">
    <form class="layui-form" action="" style="padding-right: 50px;">
        <div class="layui-form-item">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-block">
                <input type="text" name="create-date" required  lay-verify="required" autocomplete="off" class="layui-input create-date">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">种类</label>
            <div class="layui-input-block">
                <select class="category today-category" name="category" lay-verify="required">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">金额</label>
            <div class="layui-input-block">
                <input type="text" name="profit" required  lay-verify="required" autocomplete="off" class="layui-input profit">
            </div>
        </div>
    </form>
</div>