<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/profit.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <title>Title</title>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space12">
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div id="curve" style="height:400px;"></div>
                        </div>
                        <div class="layui-row layui-col-space12">
                            <div class="layui-col-md4">
                                456
                            </div>
                            <div class="layui-col-md8">
                                <div id="bar" style="height:430px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">

            </div>
        </div>
    </div>
    <script>
        layui.use(["form","table","laydate"], function(){
            var $ = layui.jquery;
            var form = layui.form;
            var table = layui.table;
            var laydate = layui.laydate;

            // 加载收益曲线
            paintCurve();
            // 加载月柱状图
            paintBar();

            function paintBar() {
                var xData = [];
                var yData = [];
                $.ajax({
                    url: "/get-month-profit",
                    async: false,
                    success: function(result) {
                        for (var i = 0; i < result.length; i ++) {
                            xData.push(result[i].date);
                            yData.push(result[i].value.toFixed(2));
                        }
                    }
                });
                var myChart = echarts.init(document.getElementById("bar"));
                var option = {
                    color: ['#3398DB'],
                    title: {
                        text: "每月收益"
                    },
                    tooltip: {
                        trigger: "axis"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xData
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '收益',
                            type: 'bar',
                            data: yData,
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                }
                myChart.setOption(option);
            }

            function paintCurve() {
                var data = [];
                var total;
                $.ajax({
                    url: "/get-curve-data",
                    async: false,
                    success: function(result) {
                        var length = result.length;
                        for (var i = 0; i < length; i ++) {
                            data.push({
                                name: result[i].createDate,
                                value: [result[i].createDate, result[i].sum.toFixed(2)]
                            });
                        }
                        total = result[length - 1].sum;
                    }
                });

                // 渲染曲线
                var myChart = echarts.init(document.getElementById("curve"));
                var option = {
                    title: {
                        text: "累计收益：" + total.toFixed(2)
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            var date = new Date(params.name);
                            return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ':' + params.value[1];
                        },
                        axisPointer: {
                            animation: false
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%'],
                        splitLine: {
                            show: true
                        }
                    },
                    series: [{
                        name: '累计收益2',
                        type: 'line',
                        color: '#1E90FF',
                        showSymbol: false,
                        hoverAnimation: false,
                        data: data,
                    }]
                };
                myChart.setOption(option);
            }
        });
    </script>
</body>