<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/profit.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <title>Title</title>
</head>
<body>
    <div class="layui-fluid">
        <form class="layui-form add-profit-detail-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input create-date" id="create-date" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">收益</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input profit">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <input type="button" class="layui-btn add-profit-detail" value=" 录入">
                    </div>
                </div>
            </div>
        </form>
        <div class="profit-detail-div">
            <table id="profit-detail" lay-filter="profit-detail"></table>
        </div>

    </div>

    <script id="createDate" type="text/html">
        {{#
        var date = new Date();
        date.setTime(d.createDate);
        return date.Format("yyyy年MM月dd日");
        }}
    </script>

    <script th:inline="javascript">

        layui.use(["laydate", "table"], function(){
            $ = layui.jquery;
            var fundId = [[${fundId}]];

            var laydate = layui.laydate;
            var table = layui.table;

            //执行一个laydate实例
            laydate.render({
                elem: '#create-date' //指定元素
            });
            table.render({
                elem: "#profit-detail",
                id: "profit-detail",
                url: "/profit-detail-list?fundId=" + fundId,
                page: true,
                limit: 5,
                skin: "nob",
                cols: [
                    [
                        {field: "createDate", title: "日期", width: "70%", templet:'#createDate'},
                        {field: "profit", title: "收益"}
                    ]
                ]
            });

            $(".add-profit-detail").on("click", function(){
                var createDate = $(".create-date").val();
                var profit = $(".profit").val();

                $.ajax({
                    url:"/add-profit-detail?fundId=" + fundId + "&createDate=" + createDate + "&profit=" + profit,
                    async: false,
                    success:function(result) {
                        if (result) {
                            table.reload("profit-detail", {
                                url:"/profit-detail-list?fundId=" + fundId
                            });
                        }
                    }
                });

            });


        });


        //对Date的扩展，将 Date 转化为指定格式的String
        //月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
        //年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
        //例子：
        //(new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
        //(new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
        Date.prototype.Format = function(fmt)
        { //author: meizz
            var o = {
                "M+" : this.getMonth()+1,                 //月份
                "d+" : this.getDate(),                    //日
                "h+" : this.getHours(),                   //小时
                "m+" : this.getMinutes(),                 //分
                "s+" : this.getSeconds(),                 //秒
                "q+" : Math.floor((this.getMonth()+3)/3), //季度
                "S"  : this.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt))
                fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)
                if(new RegExp("("+ k +")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            return fmt;
        }
    </script>
</body>