body {
    background-color: #f2f2f2;
}
.layui-fluid {
    padding:15px;
}
. file-list {
    height: 855px;
}
.file-list .layui-card-header {
    padding:10px;
}
.file-list .first {
    width: 600px;
}