.top {
    padding-top: 15px;
    border-bottom: 1px solid #f6f6f6;
    height: 55px;
}
.top .top-item {
    float: left;
    margin-right: 50px;
}
.tag-search {
    width: 600px;
}
.file-table {
    margin: 10px;
}