body {
    background-color: #f2f2f2;
}
.layui-fluid {
    padding: 15px;
}
.add-profit-detail-form {
    margin-top: 20px;
    margin-bottom: 20px;
}
.add-profit-detail-form .layui-form-label {
    width: 40px;
}
.add-profit-detail-form .layui-input-block {
    margin-left: 80px;
}
.profit-detail-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}