body {
    background-color: #f2f2f2;
}
.layui-fluid {
    padding: 15px;
}
.p-value {
    padding: 9px 0px;
    border: none;
    font-size: inherit;
}
#date-range {
    width: 400px;
}
.add-today-profit {
    margin-left: 60px;
}
/*
.layui-form-label {
    width: auto;
}*/
