body {
    background-color: #f2f2f2;
}
.layui-fluid {
    padding: 15px;
}
.current-month-profit {
    padding-left: 10px;
}
.current-month-profit-head {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
}

.current-month-profit-item {
     padding: 15px 0px 15px 50px;
     font-size: 20px;
     font-family: Microsoft JhengHei Light,sans-serif;
     font-weight: bold;
}
.current-month-profit-item:hover {
    background-color: #f2f2f2;
    -webkit-transition: all .3s;
    cursor: pointer;
}
#date-range {
    width: 400px;
}