.layui-nav-tree {
	height: 100%;
}
.left {
	width:200px;
	float: left;
}
.head {
	height:60px;
	background-color: #F0F0F0;
	box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px;

}
.head .layui-nav-item {
	float:right;
}
.head .layui-nav-item a {
	color: #2F4056;
}
.head .layui-nav-item a:hover {
	color: #2F4056;
}
.main {
	margin-left: 200px;
}
.iframe {
	border: 0;
}
