<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/layui/css/modules/formSelects-v4.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/porn.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>

    <title>Title</title>
</head>
<body>
<div class="top">
    <div class="top-item tag-search">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block">
            <select name="tags" lay-verify="required" xm-select="tags" xm-select-search="" class="tags">
                <option th:each="tag,tagStat : ${tagList}" th:value="${tag.id}" th:text="${tag.name }"></option>
            </select>
        </div>

    </div>
    <div class="top-item">
        <button class="layui-btn search" ><i class="layui-icon layui-icon-search"></i>搜索</button>
    </div>
</div>
<div class="file-table">
    <table class="layui-table" lay-data="{width: 905, url:'/pfs/search-video', page:true, id:'porn-video'}" lay-filter="porn-video">
        <thead>
            <tr>
                <th lay-data="{field:'originalName', width:400}">文件名</th>
                <th lay-data="{field:'createDate', width:200, sort: true}">上传时间</th>
                <th lay-data="{field:'size', width:100, sort: true}">大小</th>
                <th lay-data="{width:200, align:'center', toolbar: '#opration'}"></th>
            </tr>
        </thead>
    </table>
    <script type="text/html" id="opration">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script>

    layui.config({
        base: '../pfs/layui/lay/modules/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4.min'
    });
    layui.use(['formSelects'], function(){
        var formSelects = layui.formSelects;

    });
    layui.use('layer', function(){
        var $ = layui.jquery, layer = layui.layer;
    });

    layui.use('table', function() {
        var $ = layui.jquery, layer = layui.layer;
        var table = layui.table;
        //监听工具条
        table.on('tool(porn-video)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        $('.search').on('click', function(){
            var selectedTags = layui.formSelects.value('tags', 'val');
            table.reload('porn-video', {
                url:'/pfs/search-video?tagIds=' + selectedTags
            });
        });
    });

</script>
</body>
</html>