<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/porn.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery-2.1.1.min.js}"></script>

    <title>Title</title>
</head>
<body>
    <div class="tag">
        <div class="label-selected"></div>
        <div class="label-items">
            <div class="add"><input type="text" class="new-tag"><button class="add-tag">添加</button></div>
            <li th:each="tag,tagStat : ${tagList}" th:data="${tag.id}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>[[${tag.name}]]</span>
            </li>

        </div>
    </div>

    <div class="files">
        <div class="file-upload">
            <input type="file" class="file">
            <button class="upload">在当前标签下上传视频</button>
        </div>

        <li><span>星际穿越.mp4</span></li><hr>
        <li><span>星际穿越2.mp4</span></li><hr>
        <li><span>星际穿越3.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
        <li><span>星际穿越4.mp4</span></li><hr>
    </div>


    <div class="content">
        <video src="./play-video" controls class="video"></video>
    </div>
    <script th:src="@{/js/porn.js}"></script>
</body>
</html>