<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<title>个人财务系统</title>
		<link th:href="@{/css/weight.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
		
		<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
	</head>
	<body>
	<div class="main">
		<div style="padding-top:30px">
			<a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">趋势图</a>
		</div>
		<div class="accordion-content accordionItem is-expanded animateIn" id="accordion1" aria-hidden="false">
			<div id="chart" style="width: 1000px;height:400px;margin:0 auto"></div>
		</div>
		<div class="data">
			<hr/>
			<div class="search">
				<div class="time">
					<label>时间：</label>
					<div class='input-group date' >
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						<input type='text' class="form-control" id='datetimepicker1' />
						<span class="input-group-addon minus"><span class="glyphicon glyphicon-minus"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						<input type='text' class="form-control" id='datetimepicker2' />
					</div>
				</div>
				<div class="category">
					<label>种类：</label>
					<select class="selectpicker" id="firstSelect" title="一级" multiple>
						<option value="1">一</option>
						<option value="2">二</option>
					</select>
					<select class="selectpicker" id="secondSelect" title="二级" data-actions-box="true" multiple >
						<option value="1">一点一</option>
						<option value="2">二点一</option>
					</select>
				</div>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
             </button>
             <!-- bootstrap-table:https://www.cnblogs.com/wuhuacong/p/7284420.html -->
             <table class="table table-striped">
             	<thead class="thead-light">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">日期</th>
				      <th scope="col">早上体重</th>
				      <th scope="col">晚上体重</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr th:each="weight,weightStat : ${weightList}">
				      <th scope="row" th:text="${weightStat.count}">1</th>
				      <td><a th:text="${#dates.format(weight.date, 'yyyy-MM-dd')}"></a></td>
				      <td><a th:text="${unit} eq '0' ? ${weight.amWeight} : ${#numbers.formatDecimal(weight.amWeight*2,1,2)}"></a></td>
				      <td><a th:text="${unit} eq '0' ? ${weight.pmWeight} : ${#numbers.formatDecimal(weight.pmWeight*2,1,2)}"></a></td>
				    </tr>
				    
				  </tbody>
             </table>
		</div>
	</div>
	<!-- 新增弹窗 -->
	<form class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:action="@{/add-weight}" th:method="post">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">新增</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<td><label>时间：</label></td>
							<td>
								<div class='input-group date' >
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									<input type='text' class="form-control" id='datetimepicker3' name="date" onkeyup="value=value.replace(/^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/g,'')"/>
								</div>
							</td>
						</tr>
						<tr>
							<td><label th:text="${unit} eq '0' ? '早上体重（Kg）' : '早上体重（g）'">早上体重：</label></td>
							<td><input type="text" class="form-control" id="amWeight" name="amWeight" onkeyup="value=value.replace(/[^\d.]/g,'')"></td>
						</tr>
						<tr>
							<td><label th:text="${unit} eq '0' ? '晚上体重（Kg）' : '晚上体重（g）'">晚上体重：</label></td>
							<td><input type="text" class="form-control" id="pmWeight" name="pmWeight" onkeyup="value=value.replace(/[^\d.]/g,'')"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="submit" class="btn btn-primary">保存</button>
			      </div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
		function genData() {
			var dateData = [];
			var amData = [];
			var pmData = [];
			var weightList = [[${weightList}]];
			var unit = [[${unit}]];
			if (weightList != null) {
            	var weightListSize = weightList.length;
                for (i = 0 ; i < weightListSize ; i ++) {
                	dateData.push(weightList[i].date);
                	if (unit == '0') {
                    	amData.push(weightList[i].amWeight);
                    	pmData.push(weightList[i].pmWeight);
                	} else if (unit == '1') {
                    	amData.push(weightList[i].amWeight * 2);
                    	pmData.push(weightList[i].pmWeight * 2);
                	}
                	
                }
            }
			return {
				dateData: dateData,
				amData: amData,
				pmData: pmData
               };
		}
		</script>
		<script type="text/javascript" th:src="@{/js/weight.js}"></script>
		
	</body>
</html>